# Config
HOST=0.0.0.0
PORT=3000                   
NODE_ENV=development         

# Postgres 
DB_HOST=localhost
DB_PORT=5432
DB_NAME=web_server
DB_USER=
DB_PASSWORD=123258Az@&

# JWT
JWT_SECRET=ahahashgsawt1762tgwuqgedb
JWT_EXPIRES_IN=1h

# Redis
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=0

# Send mail
SMTP_HOST=smtp.gmail.com        
SMTP_PORT=587
SMTP_USER=ductin.3017@gmail.com
SMTP_PASS=apve rcqj skyn mnvt
EMAIL_FROM=ductin.3017@gmail.com
FRONTEND_URL=http://192.168.100.45:3000